footer {
	background-color: #2f3135;
}
.footer_wrap {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 32px 0;
}
.footer_info_box {
	letter-spacing: 0;
}
.footer_info_box span,
.sitemap {
	font-size: 13px;
	color: #98999a;
}
.copyright br {
	display: none;
}
.sitemap::before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 12px;
	margin: 0 12px 0 15px;
	background-color: #98999a;
}
.layer_box {
	display: flex;
}

.personal_information_btn {
	font-size: 13px;
	width: 125px;
	height: 30px;
	background-color: #131415;
	text-align: center;
	line-height: 30px;
}
.personal_information_btn a {
	color: #98999a;
}

.option_val {
	display: inline-block;
	width: 130px;
	margin-left: 3px;
	background: #131415;
	border: none;
	position: relative;
}
.option_tit {
	font-size: 12px;
	height: 30px;
	padding-left: 10px;
	color: #98999a;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 30px;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
}
.select_btn {
	width: 28px;
	height: 28px;
	background: url('../images/i-select-family.jpg') no-repeat;
	background-size: auto 100%;
	position: absolute;
	right: 0;
	top: 0;
}
#family_site {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
#family_site option {
	background-color: #ffffff;
}

@media screen and (max-width: 960px) {
	.footer_wrap {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0 27px;
	}
	.footer_info_box {
		text-align: center;
	}
	.footer_info_box span,
	.footer_info_box a {
		font-size: 11px;
		color: #98999a;
	}
	.copyright br {
		display: block;
	}
	.layer_box {
		display: flex;
		margin-top: 15px;
	}

	.personal_information_btn {
		font-size: 13px;
		width: 125px;
		height: 30px;
		background-color: #131415;
		text-align: center;
		line-height: 30px;
	}
	.personal_information_btn a {
		color: #98999a;
	}
}
