.wrap {
	position: relative;
}
.pc_menu_bg {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	z-index: 10;
	opacity: 0;
	display: none;
}
header {
	background-color: #ffffff;
	position: relative;
	z-index: 102;
}

.header-contents {
	display: flex;
	margin: 0 auto;
	width: 1200px;
}

.logo > a {
	position: relative;
	display: inline-block;
	margin-top: 30px;
	width: 195px;
	height: 22px;
	overflow: hidden;
	z-index: 102;
	background: url('../images/logo.jpg');
}
.menu_btn {
	display: none;
	position: absolute;
	left: 10px;
	top: 16px;
	width: 26px;
	height: 20px;
	background: url('../images/m-menu-btn.png');
	background-size: 100% auto;
	overflow: hidden;
}
.main_menu {
	display: flex;
}
.main_menu > li {
	position: relative;
	display: inline-block;
	margin-left: 90px;
	vertical-align: top;
	z-index: 101;
}
.main_menu > li:hover .menu_txt {
	color: red;
	border-bottom: 2px solid red;
}
.main_menu > li > a {
	position: relative;
	display: block;
	padding: 30px 0 25px;
	color: #000;
	font-size: 18px;
}
.sub_menu_wrap {
	display: none;
	position: absolute;
	left: 0;
	top: 80px;
	padding-top: 15px;
}
.sub_menu_wrap > ul > li {
	white-space: nowrap;
	margin: 0 0 10px;
}
.sub_menu_wrap > ul > li > a {
	font-size: 15px;
}
.sub_menu_wrap > ul > li:hover a {
	color: red;
}
.nav_background {
	display: block;
	position: absolute;
	left: 0;
	top: -320px;
	width: 100%;
	height: 260px;
	background-color: #fdfdfd;
	z-index: 50;
}
.m_menu_wrap {
	display: none;
}
.m_menu_bg {
	display: none;
}
.world {
	display: inline-block;
	position: relative;
	margin-top: 30px;
	flex-grow: 1;
	text-align: right;
	z-index: 103;
}
.world > a {
	font-size: 12px;
	background: url('../images/bg_top_arrow.png') no-repeat;
	background-position: left 6px;
	margin-left: 15px;
	padding-left: 10px;
}
.container {
	margin: 0 0 70px 0;
}
.animated {
	transition: all 1500ms ease-in-out;
}
.slide_wrap {
	width: 100%;
	height: 400px;
	position: relative;
	background: url('../images/slide_bg.jpg');
	overflow: hidden;
}
.slide_wrap div {
	width: 100%;
	overflow: hidden;
}
.slide_wrap div a {
	display: flex;
	justify-content: center;
}
.slide_wrap div a img {
	width: 1200px;
}
.slick-dots {
	bottom: 14px !important;
}
.slick-dots li {
	margin: 0 3px !important;
	width: 10px !important;
	height: 10px !important;
}
.slick-dots li button {
	padding: 0 !important;
}
.slick-dots li button:before {
	font-size: 11px !important;
	color: #fff !important;
	opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
	font-size: 11px !important;
	color: #ed1c24 !important;
}
.m_slide_wrap {
	display: none !important;
}
.introduce-wrap {
	width: 1200px;
	margin: 0 auto;
}
.introduce {
	height: 418px;
	margin: 70px 0;
	display: flex;
	justify-content: space-between;
}
.introduce_left {
	width: 397px;
	height: 418px;
	display: block;
	margin-right: 4px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.introduce_bg {
	opacity: 0;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition-duration: 0.5s;
}
.introduce_left > div {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.introduce_left img {
	width: 397px;
	height: 418px;
	transition: all 1s ease;
}
.introduce_left:hover .introduce_bg {
	display: block;
	opacity: 1;
	transition-duration: 0.5s;
}
.introduce_left:hover img {
	transform: scale(1.05);
	transition: all 1s ease;
}
.introduce_left strong,
.introduce_right div strong {
	font-size: 17px;
	color: #ffffff;
	font-weight: bold;
}
.introduce_left p,
.introduce_right div p {
	font-size: 14px;
	color: #ffffff;
	margin: 5px 0 0;
}
.introduce_left_img {
	display: none;
}

.introduce_right {
	width: calc(1200px - 397px);
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	box-sizing: border-box;
}
.introduce_right > a {
	width: calc(50% - 2px);
	height: calc(50% - 2px);
	box-sizing: border-box;
}
.introduce_right_bannerbox {
	position: relative;
	overflow: hidden;
}
.introduce_right_img {
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}
.introduce_right_bannerbox:hover .introduce_right_img {
	transform: scale(1.05);
	transition: all 1s ease;
}
.introduce_right_bannerbox:hover .introduce_bg {
	display: block;
	opacity: 1;
	transition-duration: 0.5s;
}
.introduce_text_img {
	position: absolute;
	top: 0;
	left: 0;
}
.introduce_right_textbox {
	position: absolute;
	left: 27px;
	bottom: 30px;
}
.introduce_right_imgbox {
	display: none;
}
.info_banner_wrap {
	background-color: #fdf2ec;
	margin-top: 75px;
}
.info_banner {
	width: 1200px;
	margin: 0 auto;

	padding: 55px 0;
}
.info_banner ul {
	display: flex;
	justify-content: space-between;
}
.info_banner ul li {
	width: calc(33.333% - 4px);
}

.info_banner ul li:first-child {
	background: url('../images/info-bg1.jpg');
}
.info_banner ul li:nth-child(2) {
	background: url('../images/info-bg2.jpg');
}
.info_banner ul li:last-child {
	background: url('../images/info-bg3.jpg');
}
.info_banner ul li a {
	height: 110px;
	padding: 0 0 0 125px;
	text-align: center;
}

.info_banner ul li a:not(.info_last_banner) {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info_banner ul li:first-child a {
	background: no-repeat
		url('http://www.toshiba.kr/front/images/main/icon_main_menu1.png');
	background-size: 76px auto;
	background-position: 35px center;
}
.info_banner ul li:nth-child(2) a {
	background: no-repeat
		url('http://www.toshiba.kr/front/images/main/icon_main_menu2.png');
	background-size: 76px auto;
	background-position: 35px center;
}
.info_banner_textbox span {
	font-size: 13px;
	opacity: 0.5;
	color: #ffffff;
}
.info_banner_textbox p {
	font-size: 16px;
	color: #ffffff;
	margin: 5px 0 0;
}
.news_wrap {
	width: 1200px;
	margin: 0 auto;
	margin-top: 65px;
}
.news_wrap h2 {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
.news_subtitle {
	font-size: 15px;
	color: #888888;
	text-align: center;
	letter-spacing: 1.5;
}
.news_contens {
	margin: 65px 0 0;
}
.news_contens > ul {
	display: flex;
	justify-content: space-between;
}

.news_contens > ul > li {
	width: 280px;
}

.news_contens > ul > li > a {
	display: flex;
	flex-direction: column;
}

.news_contens > ul > li > a > img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.news_textbox {
	border: 1px solid #ebe8e8;
	padding: 15px 15px 20px;
	font-size: 15px;
}
.news_textbox span {
	font-size: 15px;
	margin: 5px 0 0;
	color: #888888;
}
@media screen and (max-width: 960px) {
	header {
		text-align: center;
	}
	.header-contents {
		width: 100%;
		height: 53px;
		display: block;
		padding: 15px 0 0 0;
		box-sizing: border-box;
	}
	.logo > a {
		display: inline-block;
		width: 92px;
		height: 27px;
		background: url('../images/logo-m.png');
		background-size: 100% auto;
		overflow: hidden;
		margin: 0;
		position: relative;
		z-index: 80;
	}
	.main_menu {
		display: none;
	}
	.pc_menu_bg {
		display: none;
	}
	.menu_btn {
		display: block !important;
	}
	.m_menu_wrap {
		display: block;
		width: 80%;
		max-width: 450px;
		height: 100%;
		position: fixed;
		top: 0;
		left: -500px;
		z-index: 101;
		background-color: #ffffff;
		transition: all 500ms ease;
	}
	.m_menu_top {
		padding: 15px 0 12px;
		background-color: #ed1c24;
		text-align: center;
		position: relative;
	}
	.m_menu_logo {
		display: inline-block;
		width: 97px;
		height: 27px;
		background: url('../images/logo-white.png') no-repeat;
		background-size: 100% auto;
		overflow: hidden;
	}
	.m_menu_close {
		width: 45px;
		height: 45px;
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.close_btn_left {
		width: 60%;
		height: 2px;
		position: absolute;
		left: 4px;
		top: 50%;
		margin-left: 5px;
		background-color: #fff;
		border-radius: 3px;
		transition: all 500ms ease;
		transition-delay: 0.3s;
		transform: rotate(0);
	}
	.close_btn_right {
		width: 60%;
		height: 2px;
		position: absolute;
		left: 4px;
		top: 50%;
		margin-left: 5px;
		background-color: #fff;
		border-radius: 3px;
		transition: all 500ms ease;
		transition-delay: 0.3s;
		transform: rotate(0);
	}
	.m_menu {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.m_menu > li {
		border-bottom: 1px solid #dedede;
		position: relative;
	}
	.m_menu > li > a {
		display: flex;
		justify-content: space-between;
		padding: 17px 20px;
		font-size: 15px;
		text-align: left;
	}
	.on {
		display: block !important;
	}
	.menu_allow {
		display: inline-block;
		width: 15px;
		height: 10px;
		background: url('../images/m-menu-down.png') no-repeat;
		background-size: 100%;
		position: absolute;
		right: 15px;
		top: 24px;
		transition-duration: 0.5s;
		transform: rotate(0deg);
	}
	.m_sub_menu {
		display: none;
		padding: 17px 20px;
		background-color: #f3f3f3;
		border-top: 1px solid #dedede;
	}
	.m_sub_menu > li > a {
		display: block;
		padding: 5px 7px;
		font-size: 14px;
		text-align: left;
		position: relative;
	}
	.m_sub_menu > li > a::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -2px;
		width: 2px;
		height: 2px;
		background-color: #444;
		border-radius: 50%;
	}
	.m_menu > li > a:hover {
		color: #ed1c24;
	}
	.m_sub_menu > li > a:hover {
		color: #ed1c24;
	}
	.m_menu_bg {
		display: none;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 90;
	}
	.container {
		margin: 0 0 50px;
	}
	.world {
		display: none;
	}
	.slide_wrap {
		display: none !important;
	}
	.m_slide_wrap {
		display: block !important;
		width: 100% !important;
		overflow: hidden !important;
	}
	.m_slide_wrap div img {
		width: 100% !important;
	}
	.introduce-wrap {
		width: 100%;
		margin: 0 auto;
	}
	.m_slide {
		display: flex;
		width: 400%;
	}
	.m_slide > li {
		width: 100%;
	}
	.m_slide > li > img {
		width: 100%;
	}
	.introduce {
		height: auto;
		margin: 35px 0 30px;
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.introduce_left {
		display: none;
	}
	.introduce_left_img {
		display: block;
		margin-bottom: 6px;
	}

	.introduce_right {
		display: none;
	}
	.introduce_right_imgbox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.introduce_right_imgbox a {
		display: block;
		width: calc(50% - 3px);
		height: calc(50% - 3px);
	}
	.introduce_right_imgbox a img {
		width: 100%;
		height: 100%;
	}

	.info_banner_wrap {
		margin-top: 0;
		padding: 27px 0;
	}
	.info_banner {
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.info_banner ul {
		display: block;
	}
	.info_banner ul li {
		width: 100%;
		height: 85px;
	}
	.info_banner ul li:not(:last-child) {
		margin-bottom: 5px;
	}
	.info_banner ul li a {
		height: 85px;
		padding: 0 0 0 32%;
	}
	.info_banner ul li a:not(.info_last_banner) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.info_banner ul li:first-child a {
		background-size: 53px auto;
		background-position: 15% center;
	}
	.info_banner ul li:nth-child(2) a {
		background-size: 53px auto;
		background-position: 15% center;
	}
	.info_banner_textbox span {
		font-size: 12px;
	}
	.info_banner_textbox p {
		font-size: 13px;
	}
	.news_wrap {
		width: 100%;
		margin: 0 auto;
		padding: 35px 10px;
		box-sizing: border-box;
	}
	.news_wrap h2 {
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
	.news_subtitle {
		font-size: 12px;
		text-align: center;
		letter-spacing: 0;
		color: #888888;
	}
	.news_contens {
		margin-top: 17px;
		width: 100%;
	}
	.news_contens > ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.news_contens > ul > li {
		width: calc(50% - 5px);
		margin-bottom: 10px;
	}

	.news_contens > ul > li > a {
		display: flex;
		flex-direction: column;
	}

	.news_contens > ul > li > a > img {
		width: 100%;
		height: 100px;
		object-fit: cover;
	}

	.news_textbox {
		border: 1px solid #ebe8e8;
		padding: 10px 8px;
		font-size: 13px;
	}
	.news_textbox span {
		font-size: 12px;
		margin: 5px 0 0;
		color: #888888;
	}
}
