/* 슬라이드 배경화면 */
/* http://www.toshiba.kr/front/images/main/bg_man_visual.jpg */

header {
	background-color: #ffffff;
	position: relative;
}

.header-contents {
	display: flex;
	margin: 0 auto;
	width: 1200px;
}

.logo {
	position: relative;
	display: inline-block;
	margin-top: 30px;
	width: 195px;
	height: 22px;
	overflow: hidden;
	z-index: 102;
}

.main_menu {
	display: flex;
}
.main_menu > li {
	position: relative;
	display: inline-block;
	margin-left: 90px;
	vertical-align: top;
	z-index: 101;
}
.main_menu > li > a {
	position: relative;
	display: block;
	padding: 30px 0 25px;
	color: #000;
	font-size: 18px;
}
.sub_menu_wrap {
	display: none;
	position: absolute;
	left: 0;
	top: 80px;
	padding-top: 15px;
}
.sub_menu_wrap > ul > li {
	white-space: nowrap;
	margin: 0 0 10px;
}
.sub_menu_wrap > ul > li > a {
	font-size: 15px;
}
.nav_background {
	display: block;
	position: absolute;
	left: 0;
	top: -220px;
	width: 100%;
	height: 260px;
	background-color: #fdfdfd;
	/* border-top: 1px solid #d9d9d9; */
	z-index: 50;
}

.main_menu:hover .sub_menu_wrap {
	display: block;
}
.world {
	display: inline-block;
	position: relative;
	margin-top: 30px;
	flex-grow: 1;
	text-align: right;
	z-index: 103;
}
.world > a {
	font-size: 12px;
	background: url('http://www.toshiba.kr/front/images/common/bg_top_arrow.png')
		no-repeat;
	background-position: left center;
	margin-left: 15px;
	padding-left: 10px;
}
.container {
	margin: 0 0 70px 0;
}
.animated {
	transition: all 1500ms ease-in-out;
}
.slide_wrap {
	width: 100%;
	height: 400px;
	position: relative;
	background: url('http://www.toshiba.kr/front/images/main/bg_man_visual.jpg');
	overflow: hidden;
}
.main_slide {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 400%;
}
.main_slide li {
	margin: 0 auto;
}
.main_slide li a {
	display: block;
	margin: 0 auto;
	width: 1200px;
}
.main_slide li a img {
	width: 1200px;
}
.slide_btn_wrap {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 20px;
}
.slide_btn_wrap button {
	padding: 0;
	background-color: #ffffff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 3px;
	border: none;
	font-size: 0;
}
.slide_btn_red {
	background-color: red !important;
}
.slide_btn_wrap button:hover {
	cursor: pointer;
}
.slide_btn_wrap span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	margin: 0 3px;
	border-radius: 50%;
}
.slide_btn_wrap span:hover {
	cursor: pointer;
}
.introduce-wrap {
	width: 1200px;
	margin: 0 auto;
}
.introduce {
	height: 418px;
	margin: 70px 0;
	display: flex;
	justify-content: space-between;
}
.introduce_left {
	width: 397px;
	height: 418px;
	display: block;
	margin-right: 4px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.introduce_left > div {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.introduce_left img {
	width: 397px;
	height: 418px;
	transition: all 1s ease;
}
.introduce_left:hover img {
	transform: scale(1.05);
	transition: all 1s ease;
}
.introduce_left strong,
.introduce_right div strong {
	font-size: 17px;
	color: #ffffff;
}
.introduce_left p,
.introduce_right div p {
	font-size: 14px;
	color: #ffffff;
	margin: 5px 0 0;
}

.introduce_right {
	width: calc(1200px - 397px);
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	box-sizing: border-box;
}
.introduce_right > a {
	width: calc(50% - 2px);
	height: calc(50% - 2px);
	box-sizing: border-box;
}
.introduce_right_bannerbox {
	position: relative;
	overflow: hidden;
}
.introduce_right_img {
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}
.introduce_right_bannerbox:hover .introduce_right_img {
	transform: scale(1.05);
	transition: all 1s ease;
}
.introduce_text_img {
	position: absolute;
	top: 0;
	left: 0;
}
.introduce_right_textbox {
	position: absolute;
	left: 27px;
	bottom: 30px;
}

.info_banner_wrap {
	background-color: #fdf2ec;
	margin-top: 75px;
}
.info_banner {
	width: 1200px;
	margin: 0 auto;

	padding: 55px 0;
}
.info_banner ul {
	display: flex;
	justify-content: space-between;
}
.info_banner ul li {
	width: calc(33.333% - 4px);
}
.info_banner ul li:first-child {
	background: url('http://www.toshiba.kr/front/images/main/bg_main_menu1.jpg');
}
.info_banner ul li:nth-child(2) {
	background: url('http://www.toshiba.kr/front/images/main/bg_main_menu2.jpg');
}
.info_banner ul li:last-child {
	background: url('http://www.toshiba.kr/front/images/main/bg_main_menu3.jpg');
}
.info_banner ul li a {
	height: 110px;
	padding: 0 0 0 125px;
	text-align: center;
}
.info_banner ul li a:not(.info_last_banner) {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info_banner ul li:first-child a {
	background: no-repeat
		url('http://www.toshiba.kr/front/images/main/icon_main_menu1.png');
	background-size: 76px auto;
	background-position: 35px center;
}
.info_banner ul li:nth-child(2) a {
	background: no-repeat
		url('http://www.toshiba.kr/front/images/main/icon_main_menu2.png');
	background-size: 76px auto;
	background-position: 35px center;
}
.info_banner_textbox span {
	font-size: 13px;
	opacity: 0.5;
	color: #ffffff;
}
.info_banner_textbox p {
	font-size: 16px;
	color: #ffffff;
	margin: 5px 0 0;
}
.news_wrap {
	width: 1200px;
	margin: 0 auto;
	margin-top: 65px;
}
.news_wrap h2 {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
.news_subtitle {
	font-size: 15px;
	color: #888888;
	text-align: center;
	letter-spacing: 1.5;
}
.news_contens {
	margin: 65px 0 0;
}
.news_contens > ul {
	display: flex;
	justify-content: space-between;
}

.news_contens > ul > li {
	width: 280px;
	/* height: 180px; */
}

.news_contens > ul > li > a {
	display: block;
}

.news_contens > ul > li > a > img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.news_textbox {
	border: 1px solid #ebe8e8;
	padding: 15px 15px 20px;
	font-size: 15px;
}
.news_textbox span {
	font-size: 15px;
	margin: 5px 0 0;
	color: #888888;
}
